In [6]:
import json
import pandas as pd
import numpy as np

df = pd.read_json('../data/spy.json', orient='records')
df.head()

,Name,Ticker,Exchange,Sector,MarketCap
0,Nvidia,NVDA,,Information Technology,4022003040256
1,Microsoft,MSFT,,Information Technology,3740946137088
2,Apple Inc.,AAPL,,Information Technology,3153843453952
3,Amazon,AMZN,,Consumer Discretionary,2388902281216
4,Alphabet Inc. (Class C),GOOG,,Communication Services,2192672555008

In [8]:

# pd.read_json('../data/spy.json', orient='records')
sector_map = {
    'Industrials': 'XLI',
    'Health Care': 'XLV',
    'Information Technology': 'XLK',
    'Communication Services': 'XLC',
    'Consumer Discretionary': 'XLY',
    'Utilities': 'XLU',
    'Financials': 'XLF',
    'Materials': 'XLB',
    'Real Estate': 'XLRE',
    'Consumer Staples': 'XLP',
    'Energy': 'XLE'
}

df['SectorKey'] = df['Sector'].map(sector_map)

df.head()

,Name,Ticker,Exchange,Sector,MarketCap,SectorKey
0,Nvidia,NVDA,,Information Technology,4022003040256,XLK
1,Microsoft,MSFT,,Information Technology,3740946137088,XLK
2,Apple Inc.,AAPL,,Information Technology,3153843453952,XLK
3,Amazon,AMZN,,Consumer Discretionary,2388902281216,XLY
4,Alphabet Inc. (Class C),GOOG,,Communication Services,2192672555008,XLC

In [10]:
sector_map.values()

dict_values(['XLI', 'XLV', 'XLK', 'XLC', 'XLY', 'XLU', 'XLF', 'XLB', 'XLRE', 'XLP', 'XLE'])